<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutStyles.css">
    <title>About the DRS</title>
</head>
<body id="aboutDRS">
    <h1>About Us</h1>
    <p>The Society for Panchordal Equality and Justice for Diminished Chords, or the Diminished Rights Society for short, or the DRS for shortER, is an organization that, as the name suggests, tries to get Panchordal Equality and Justice for Diminished chords.</p>
</body>
</html>