<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE</title>
</head>
<body>
    <a href="index.ejs">Logout</a>

    <h1>Database of People</h1>
    <table>
        <tr>
            <td>
                <p>Chairman</p>
            </td>
            <td>
                <p><%- chairman, name %></p>
            </td>
        </tr>
    </table>
</body>
</html>