<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Diminished Rights Database</title>
</head>
<body>
    Hi
</body>

<script>
    alert("This site is still under development. Take this into mind before proceeding.");
</script>

</html>